* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

body {
    font-family: "Open Sans", sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.form {
    background-color: rgb(219, 219, 229);
    height: 650px;
    width: 550px;
    padding: 50px 30px;
}

.title {
    background-color: rgb(245, 247, 250);
    padding: 20px 10px;
    text-align: center;
}

.form-control {
    display: flex;
    flex-direction: column;
}

.form-control input,
.btn {
    width: 100%;
    border: none;
    border-radius: 10px;
    padding: 13px;
    font-size: 18px;
    font-weight: 600;
    color: #101010;
    margin: 10px 0;
}

.form-control input:focus {
    outline: none;
}

.success {
    border-color: #2ecc71;
}

.error {
    border-color: rgb(182, 36, 36);
}

.form-control i {
    visibility: hidden;
}

.form-control.error i.fa-exclamation-circle {
    color: rgb(182, 36, 36);
    visibility: visible;
}

.form-control.success i.fa-check-circle {
    color: #2ecc71;
    visibility: visible;
}

.form-control small {
    color: rgb(182, 36, 36);
    margin-bottom: 15px;
    font-size: 15px;
    font-weight: 600;
    visibility: hidden;
}

.form-control.error small {
    visibility: visible;
}

.btn {
    background-color: #076cf8;
    font-weight: 700;
    color: #000;
}

.btn:hover {
    cursor: pointer;
    background-color: rgb(4, 40, 77);
    border-color: rgb(171, 168, 168);
    color: #fff;
    transition: all 0.5s;
}

.userLabel {
    font-size: 20px;
    font-weight: 600;
}